.jumbotron{
  background-image: url("../img/pattern.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.sidebar{
  background-color: #b2ebf2;
  float: left;
  height: auto;
  margin-right: 40px;
}

#myRules{
  margin-left: 270px
}
